body {
    z-index: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #0b1e24 linear-gradient(90deg,#010d0b 0,#0b1e24 25%,#0b1e24 75%,#010d0b) repeat-y;
    color: #f1eee5;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-shadow: 0.2rem 0.2rem 2rem #111;
}

h2 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 3rem;
    text-shadow: 0.2rem 0.2rem 2rem #111;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
}

p {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
}


a {
    color: #349da1;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.link:focus,
.link:hover,
.link:active {
    text-decoration: underline;
    opacity: 0.6;
}

.icon {
    height: 60px;
    margin: 1rem auto;
    width: auto;
    vertical-align: middle;
}

.icon:focus,
.icon:hover,
.icon:active {
    opacity: 1;
    filter: drop-shadow(0.4rem 0.4rem 0.3rem #424242);
}

.align-center {
    text-align: center;
}

.display-flex {
    display: flex;
}


/* <--------------- Button ---------------> */
.button {
    text-align: center;
    padding: 0.5rem 1rem;
    color: #f1eee5;
    font-size: 1.2rem;
    background: url(/images/button.svg);
    background-size: 100% 100%;
}

.button:focus,
.button:hover,
.button:active {
    text-decoration: none;
    opacity: 0.6;
}


/* <--------------- Navbar ---------------> */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background: url(/images/navbar.svg) repeat-x -1rem 0px/auto 100%;
    filter: drop-shadow(0.4rem 0.4rem 0.3rem #111);
}

.navbar .icon {
    height: 40px;
    margin: 5px auto;
}

.navbar-content {
    max-width: 1440px;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    height: 60px;
}

.navbar-element {
    margin: auto 0;
}

.company {
    color: #424242;
    font-weight: 700;
    margin: 19px 0;
    padding: 0 0 0 0.5rem;
    font-size: 1.2rem;
}

.company:focus,
.company:hover,
.company:active {
    text-decoration: underline;
}

.navbar .link {
    margin: 19px 0;
    padding: 0 0 0 2rem;
    font-size: 1.2rem;
}

.navbar-right {
    margin: 11px 0 11px auto;
}

@media (max-width: 750px) {
    .navbar .link {
        display: none;
    }
}


/* <--------------- Content ---------------> */
.header {
    margin: 50px auto 0;
    padding: 110px 0 100px;
    background: url(/images/banner.svg);
    background-size: auto 100%;
    text-shadow: 0.2rem 0.2rem 2rem #111;
}

.background {
    margin: 0 auto;
    padding: 100px 0;
}

.background1 {
    background: url(/images/wood.svg);
    background-size: auto 100%;    
}

.background2 {
    background: url(/images/gears.svg);
    background-size: auto 100%;    
}

.background3 {
    background: url(/images/marble.svg);
    background-size: auto 100%;    
}

.content {
    margin: 0 auto;
    padding: 1rem;
    max-width: 70rem;
}

.section {
    padding: 1rem 0;
}


/* <--------------- Notes ---------------> */
.note {
    margin: 1rem;
    padding: 2rem 1rem 1rem;
    color: #424242;
    background-color: #f1eee5;
    mask-size: 100% 100%;
}

.note .note {
    background-color: transparent;
}

.note:focus,
.note:hover,
.note:active {
    background-color: #fff;
}

.note:focus .icon,
.note:hover .icon,
.note:active .icon {
    filter: drop-shadow(0.4rem 0.4rem 0.3rem #424242);
}

.note:focus .separation,
.note:hover .separation,
.note:active .separation {
    background-color: #349da1;
}

.note1 {
    -webkit-mask-image: url(/images/note1.svg);
    mask-image: url(/images/note1.svg);
}

.note2 {
    -webkit-mask-image: url(/images/note2.svg);
    mask-image: url(/images/note2.svg);
}

.note3 {
    -webkit-mask-image: url(/images/note3.svg);
    mask-image: url(/images/note3.svg);
}

.big-note1 {
    -webkit-mask-image: url(/images/big-note1.svg);
    mask-image: url(/images/big-note1.svg);
}

.big-note2 {
    -webkit-mask-image: url(/images/big-note2.svg);
    mask-image: url(/images/big-note2.svg);
}

.big-note3 {
    -webkit-mask-image: url(/images/big-note3.svg);
    mask-image: url(/images/big-note3.svg);
}

.note-title .icon {
    margin: 5px 10px 5px 0;
}

.content .note {
    margin: 0;
}

.separation {
    -webkit-mask-image: url(/images/pattern1.svg);
    mask-image: url(/images/pattern1.svg);
    background-color: #424242;
    height: 25px;
    width: 100%;
    margin: 1rem 0;
}

.separation1 {
    background: url(/images/separation1.svg) repeat-x 0 0/auto 100%;
    width: 100%;
    height: 30px;
    margin-top: -115px;
}

.big-note {
    margin: 1rem auto 0;
    max-width: 60rem;
}

.big-note .button {
    padding: 1.5rem;
}


/* <--------------- Grid ---------------> */
.grid {
    margin: 0 auto;
    max-width: 71rem;
    font-size: 0;
}

.column {
    display: inline-block;
    width: 33.33%;
    overflow: hidden;
    font-size: 1rem;
    vertical-align: text-top;
}

@media (max-width: 900px) { 
    .column {
        width: 100%;
    }
}


/* <--------------- Footer ---------------> */
.footer {
    width: 100%;
    background: url(/images/footer.svg) repeat-x -1rem 0px/auto 100%;
    color: #424242;
    padding: 2rem 0 1rem;
    margin-top: -15px;
    filter: drop-shadow(0.4rem -0.4rem 0.3rem #111);
}

.footer .separation {
    background-color: #424242;
}

.footer h3 {
    color: #424242;
    margin: 0 0 1rem 0;
}

.footer a h3:hover {
    text-decoration: underline;
}

.footer ul {
    margin: 1.5rem 1rem 1rem 0;
}

.footer li {
    list-style-type: none;
    line-height: 1.5rem;
}

.footer img {
    height: 25px;
    margin: 0 0.5rem 0 0;
}

.footer-content {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem;
}