body {
    z-index: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #0b1e24 linear-gradient(90deg,#010d0b 0,#0b1e24 25%,#0b1e24 75%,#010d0b) repeat-y;
    color: #f1eee5;
}

a {
    color: #349da1;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

a:focus,
a:hover,
a:active {
    text-decoration: underline;
    opacity: 0.6;
}

.align-center {
    text-align: center;
}


/* <--------------- Button ---------------> */
.button {
    text-align: center;
    padding: 0.5rem 1rem;
    color: #f1eee5;
    font-size: 1.5rem;
    background: url(/button.svg);
}

.button:focus,
.button:hover,
.button:active {
    text-decoration: none;
}


/* <--------------- Navbar ---------------> */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: url(/navbar.svg) repeat-x 0 0/auto 100%;
}

.navbar-content {
    max-width: 1440px;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    height: 60px;
}

.navbar-element {
    margin: auto 0;
}

.navbar-right {
    margin-left: auto;
}


/* <--------------- Content ---------------> */
.header {
    margin: 60px auto 0;
    padding: 5rem 0;
}

.content {
    margin: 0 auto;
    padding: 1rem;
    max-width: 90rem;
}

.note1 {
    margin: 1rem;
    padding: 1rem 2rem;
    color: #424242;
    background: url(/note1.svg);
}

.note2 {
    margin: 1rem;
    padding: 1rem 2rem;
    color: #424242;
    background: url(/note2.svg);
}

.note3 {
    margin: 1rem;
    padding: 1rem 2rem;
    color: #424242;
    background: url(/note3.svg);
}


/* <--------------- Grid ---------------> */
.grid {
    margin: 0 auto;
    max-width: 91rem;
    font-size: 0;
}

.column {
    display: inline-block;
    width: 33.33%;
    overflow: hidden;
    font-size: 1rem;
    vertical-align: text-top;
}

@media (max-width: 600px) { 
    .column {
        width: 100%;
    }
}