body {
    z-index: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #0b1e24 linear-gradient(90deg,#010d0b 0,#0b1e24 25%,#0b1e24 75%,#010d0b) repeat-y;
    color: #f1eee5;
}

h1 {
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 2.8rem;
}

h2 {
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}


a {
    color: #349da1;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.link:focus,
.link:hover,
.link:active {
    text-decoration: underline;
    opacity: 0.6;
}

.icon {
    height: 50px;
    margin: 5px auto;
    width: auto;
    vertical-align: middle;
}

.icon:focus,
.icon:hover,
.icon:active {
    opacity: 1;
    filter: drop-shadow(0.4rem 0.4rem 0.3rem #424242);
}

.align-center {
    text-align: center;
}

.display-flex {
    display: flex;
}


/* <--------------- Button ---------------> */
.button {
    text-align: center;
    padding: 0.5rem 1rem;
    color: #f1eee5;
    font-size: 1.2rem;
    background: url(/button.svg);
    background-size: 100% 100%;
}

.button:focus,
.button:hover,
.button:active {
    text-decoration: none;
    opacity: 0.6;
}


/* <--------------- Navbar ---------------> */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background: url(/navbar.svg) repeat-x -1rem 0px/auto 100%;
    filter: drop-shadow(0.4rem 0.4rem 0.3rem #111);
}

.navbar-content {
    max-width: 1440px;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    height: 60px;
}

.navbar-element {
    margin: auto 0;
}

.company {
    color: #424242;
    font-weight: 700;
    padding: 0 0 0 0.5rem;
    font-size: 1.2rem;
}

.navbar .link {
    padding: 0 0 0 2rem;
    font-size: 1.2rem;
}

.navbar-right {
    margin: 11px 0 11px auto;
}


/* <--------------- Content ---------------> */
.header {
    margin: 50px auto 0;
    padding: 110px 0 100px;
    background: url(/banner.svg);
    background-size: auto 100%;
}

.container-fluid {
    width: 100%;
    padding: 1rem 0;
}

.content {
    margin: 0 auto;
    padding: 1rem;
    max-width: 90rem;
}

.note {
    margin: 1rem;
    padding: 2rem 1.5rem 1rem;
    color: #424242;
    background-color: #f1eee5;
    mask-size: 100% 100%;
}

.note:focus,
.note:hover,
.note:active {
    background-color: #fff;
}

.note:focus .icon,
.note:hover .icon,
.note:active .icon {
    filter: drop-shadow(0.4rem 0.4rem 0.3rem #424242);
}

.note:focus .separation,
.note:hover .separation,
.note:active .separation {
    background-color: #349da1;
}

.note1 {
    -webkit-mask-image: url(/note1.svg);
    mask-image: url(/note1.svg);
}

.note2 {
    -webkit-mask-image: url(/note2.svg);
    mask-image: url(/note2.svg);
}

.note3 {
    -webkit-mask-image: url(/note3.svg);
    mask-image: url(/note3.svg);
}

.content .note {
    margin: 0;
}

.separation {
    -webkit-mask-image: url(/pattern1.svg);
    mask-image: url(/pattern1.svg);
    background-color: #424242;
    height: 25px;
    width: 100%;
}


/* <--------------- Grid ---------------> */
.grid {
    margin: 0 auto;
    max-width: 91rem;
    font-size: 0;
}

.column {
    display: inline-block;
    width: 33.33%;
    overflow: hidden;
    font-size: 1rem;
    vertical-align: text-top;
}

@media (max-width: 600px) { 
    .column {
        width: 100%;
    }
}


/* <--------------- Pricing ---------------> */
.pricing {
    margin: 3rem auto;
    max-width: 50rem;
}

.pricing .separation {
    background-color: #424242;
}

.pricing .button {
    padding: 1.5rem;
}


/* <--------------- Footer ---------------> */
.footer {
    width: 100%;
    background: url(/footer.svg) repeat-x -1rem 0px/auto 100%;
    color: #424242;
    padding-top: 2rem;
}

.footer .separation {
    background-color: #424242;
}

.footer ul {
    margin: 1.5rem 1rem 1rem 0;
}

.footer li {
    list-style-type: none;
    line-height: 1.5rem;
}

.footer h3 {
    margin: 0;
}

.footer img {
    height: 25px;
    margin: 0 0.5rem 0 0;
}

.footer-content {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem;
}